.button {
    cursor: pointer;
    color: white;
    background-color: #3b59e7;
    border: 1px solid #3b59e7;
    transition: 0.3s ease-in-out;
}

.button:hover {
    color: #3b59e7;
    background-color: white;
}