@use postcss-color-function;
@use postcss-nested;
/* Base styling */



.search {
    &__container {
        padding-top: 64px;
    }

    background-color:blue;
    
 
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }
    }
